In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer,KNNImputer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [5]:
df=pd.read_csv(r"C:\Users\rajak\OneDrive\Documents\DATA\100-days-of-machine-learning\day39-knn-imputer\train.csv")[['Age','Pclass','Fare','Survived']]

In [6]:
df.head()

    Age  Pclass     Fare  Survived
0  22.0       3   7.2500         0
1  38.0       1  71.2833         1
2  26.0       3   7.9250         1
3  35.0       1  53.1000         1
4  35.0       3   8.0500         0

In [7]:
df.isnull().mean()

Age         0.198653
Pclass      0.000000
Fare        0.000000
Survived    0.000000
dtype: float64

In [9]:
X=df.drop(['Survived'],axis=1)
y=df['Survived']

In [11]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [16]:
# for i in range(0,6):
imputer=KNNImputer(n_neighbors=2,weights='distance',algorithm='brute')
X_train_knn=imputer.fit_transform(X_train)
X_test_knn=imputer.transform(X_test)
lr=LogisticRegression()
lr.fit(X_train_knn,y_train)
y_hat=lr.pred(X_test_knn)
accuracy_score(y_hat,y_test)

IndentationError: unexpected indent (1234209153.py, line 2)